*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

.container-nav{
    height: 90px;
    background-color: lightgreen;

    display: flex;
    justify-content: space-around;

}

.logo{
    height: 90px;
    width: 110px;
    background-color: green;
    border: 1px solid black;
}

.nav-bar{
    height: 90px;
    width: 550px;


    display: flex;
    justify-content: center;
    

}

.nav-bar ul{
    list-style-type: none;

    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
    
}

.nav-bar li{
    height: 40px;
    width: 80px;
    background-color: white;
    border: 1px solid black;
}

.login{
    height: 90px;
    width: 110px;
    background-color: green;
    border: 1px solid black;
}