*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

.container-nav{
    height: 90px;
    background-color: lightgreen;
    /* test */
    display: flex;
    justify-content: space-around;

}

#logo{
    height: 90px;
    width: 110px;
    /* test */
    background-color: green;
    border: 1px solid black;
}

#nav-bar{
    height: 90px;
    width: 550px;
    /* test */
    display: flex;
    justify-content: center;
    

}

#nav-bar ul{
    list-style-type: none;
    /* test */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
    
}

#nav-bar li{
    height: 40px;
    width: 80px;
    /* test */
    background-color: white;
    border: 1px solid black;
}

#login{
    height: 90px;
    width: 110px;
    /* test */
    background-color: green;
    border: 1px solid black;
}

/* /nav */


/* main */

/* section1 */
.section1{
    height: 420px;
    background-color: rgb(145, 3, 246);
    /* test */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#titol-s1{
    height: 50px;
    width: 300px;
    /* test */
    background-color: rgb(0, 132, 255);
    border: 1px solid black;
}

#paragraph-s1{
    height: 100px;
    width: 650px;
    /* test */
    background-color: rgb(0, 132, 255);
    border: 1px solid black;
}

#buttons{
    height: 50px;
    width: 450px;
    /* test */
    background-color: rgb(0, 132, 255);
    border: 1px solid black;
}
/* /section1 */

/* section2 */
.section2{
    height: 600px;
    background-color: rgb(108, 209, 242);
    /* test */
    display: flex;
    justify-content: center;
}

.img-s2{
    height: 600px;
    width: 550px;
    /* test */
    background-color: rgb(226, 106, 242);
    border: 1px solid black;
}

.aside-s2{
    height: 600px;
    width: 420px;

    background-color: rgb(226, 106, 242);
    border: 1px solid black;

    /* test */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#titol-s2{
    height: 230px;
    width: 350px;
    /* test */
    background-color: antiquewhite;
    border: 1px solid black;

}

#paragraph-s2{
    height: 130px;
    width: 350px;
    /* test */
    background-color: antiquewhite;
    border: 1px solid black;
}
/* /section2 */

/* section3 */
.section3{
    height: 620px;
    background-color: rgb(156, 243, 110);
    /* test */
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-s3{
    height: 440px;
    width: 450px;
    /* test */
    background-color: antiquewhite;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titol-s3{
    height: 180px;
    width: 450px;
    /* test */
    border: 1px solid black;
}

#paragraph-s3{
    height: 260px;
    width: 450px;
    /* test */
    border: 1px solid black;
}

.img-s3{
    height: 440px;
    width: 600px;
    /* test */
    background-color: antiquewhite;
    border: 1px solid black;
}
/* /section3 */
/* /main */